.main-website {
    background: url(https://raw.githubusercontent.com/Aceship/Arknight-Images/main/avg/images/38_ex01.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    animation: imageTransition 25s infinite; 
  }