:root {
    font-size: 16px;
    font-family: 'Open Sans';
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
    --transition-speed: 450ms;
}
body{
    color: black;
    background-color: white;
    margin: 0;
    padding: 0;  
}
main{
    margin-left: 5rem;
    padding: 1rem;
}

/* main Side NavBar */
.side-navbar{
    width: 5rem;
    height: 100vh;
    position: fixed;
    background-color: rgb(39, 39, 39);
    transition: width 500ms ease;

}
.side-navbar:hover{
    width: 15rem;
}
.side-navbar:hover + main .main-topbar {
    top: -100px;
}

/* navbar logo */
.nav-logo{ 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
    font-size: 1rem;;
    width: 100%;
    background-color: #1e1e1f;
    border-radius: 5px; 
}

.nav-logo .profile-pic{
    background-color: rgb(56, 55, 55);
    border-radius: 10px;
    height: 60;
    width: 60;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left:0%;
    transform: rotate(0deg);
    transition: var(--transition-speed);
}
.profile-pic img{
    max-width: 50;
    align-self: center;
}
.logo-text{
    position: absolute;
    text-decoration: none;
    letter-spacing: 0.1ch;
    color: gray;
    left: -500px;
    transition: var(--transition-speed);
}

.side-navbar:hover .logo-text{
    left: 10%;

}
.side-navbar:hover .profile-pic{
    left: 10.5rem;
    transform: rotate(0deg);
}

/* navbar items */
.navbar-nav{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}
.navbar-items{
    width: 100%;
}
.navbar-items:last-child{
    margin-top: auto;
}


.nav-link { /* nav-links are the icons fuck */
    display: flex;
    align-items: center;
    height: 5rem;
    text-decoration: none;
    transition: opacity 300ms ease-in-out;
    transition: var(--transition-speed);

}
.nav-link:hover {
    background-color: rgb(44, 36, 75);
}
.nav-link:hover svg {
    transform: rotate(360deg);
    fill: rgb(85, 162, 214);
}
.nav-link {
    transform: rotate(360deg);
    fill: rgb(85, 162, 214);
}
.nav-link svg{
    transition: var(--transition-speed);
    transform: rotate(0deg);
    min-width: 3rem;
    margin: 0 1rem;
}

.link-text{
    opacity: 0;
    transition: opacity 300ms;
    pointer-events: none;
    color: gray;
}
.side-navbar:hover .link-text{
    pointer-events: auto;
    opacity: 1;
}
.navbar-items span{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 0.1ch ;
    font-size:  normal;
    width: 100%;
}

/* option */
.option-bar{
    position: absolute;
    top: 100%;
    left: 15rem;
    width: 10rem;
    height: 50vh;
}
.option-bar.show{
    position: absolute;
    top: 50%;
    left: 15rem;
    width: 10rem;
    height: 50vh;
    background-color: rgb(39, 39, 39);
    transition: var(--transition-speed)
}
